@font-face {
  font-family: pokeFontSolid; 
  src: url(/fonts/Pokemon\ Solid.ttf); 
}

@font-face {
  font-family: pokeFontHollow; 
  src: url(/fonts/Pokemon\ Hollow.ttf.ttf); 
}

* {
    font-family: 'pokeFontSolid';
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokedex {
    width: 360px;
    height: 504px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 2px solid #333;
}