@font-face {
  font-family: pokeFontSolid; 
  src: url(/fonts/Pokemon\ Solid.ttf); 
}

@font-face {
  font-family: pokeFontHollow; 
  src: url(/fonts/Pokemon\ Hollow.ttf.ttf); 
}

* {
    font-family: 'pokeFontSolid';
    font-size: 18px;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokedex {
    width: 360px;
    height: 504px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 2px solid #333;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 8px;
}

#titre {
    grid-column: span 3 / span 3;
}

#num {
    grid-column-start: 4;
}

#image {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

#evolutions {
    grid-column: span 4 / span 4;
    grid-row-start: 4;
}

#taille {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
}

#poids {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
}

#types {
    grid-column: span 4 / span 4;
    grid-row-start: 6;
}

#faiblesses {
    grid-column: span 4 / span 4;
    grid-row-start: 7;
}